.item {
  border-radius: 0.5rem;
  text-align: center;
}

.item-toggle {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  cursor: pointer;
  background-color: #2ecc40;
  background-image: linear-gradient(to bottom right, #2ecc40, #239b31);
  box-shadow: 0px 8px 14px -7px #2ecc40;
}

.item-reserved {
  background-color: #ff4136;
  background-image: linear-gradient(to bottom right, #ff4136, #ce332b);
  box-shadow: 0px 8px 14px -7px #ff4136;
}

.item-delete {
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-size: larger;
}

.item-delete:hover {
  opacity: 0.6;
  transition: all 0.1s ease-in;
}
