{% extends "base.html" %} {% block content %}

<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-lg-4 bg-light p-4 my-5 text-center border rounded-lg">
      Reserveda is a simple reservation system to keep track of items only one
      person can access at a time. {% if current_user.email %}
      <br /><br />You're already logged in {{ current_user.email }}.
      <a href="{{url_for('main')}}">See your list of items.</a>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 border rounded-lg p-4">
      <div class="h3 text-center font-weight-light">Sign up now</div>
      <form name="signup" action="" method="post">
        {% for field in signup_form %} {% if field.type not in
        ["CSRFTokenField", "SubmitField"] %}
        <div class="mb-3">
          {{ field.label(class="form-label") }} {{ field(class_="form-control")
          }} {% for error in field.errors %}
          <div class="is-invalid">[{{ error }}]</div>
          {% endfor %}
        </div>
        {% endif %} {% endfor %} {{ signup_form.hidden_tag() }} {{
        signup_form.submit(class_="btn btn-primary btn-block mt-4") }}
        <div class="text-center pt-3">
          Already have an account?
          <a href="{{url_for('login')}}">Log in here.</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
