{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 py-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h5>{{item.name}} reservation history</h5>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary float-right"
              onclick="downloadHistory()"
            >
              Download
            </button>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Time Reserved</th>
            <th scope="col">Time Returned</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for event_pair in events|reverse %} {% set reserved = event_pair[0]
          %} {% set returned = event_pair[1] if event_pair[1] %}
          <tr>
            <td>{{ reserved.user.email }}</td>
            <td>{{ momentjs(reserved.timestamp).calendar() }}</td>
            <td>{{ momentjs(returned.timestamp).calendar() if returned }}</td>
            <td>{{ reserved.comment if reserved.comment else "" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var saveAs = require("file-saver");
  function downloadHistory() {
    item_id = "{{ item.id }}";
    filename = "{{item.name}}_history.csv";
    offset = new Date().getTimezoneOffset();
    url = new URL("{{url_for('download_history', _external=True)}}");
    url.search = new URLSearchParams({
      id: item_id,
      offset: offset,
    });
    fetch(url, {
      headers: { "Content-Type": "text/csv" },
      responseType: "blob",
    })
      .then((response) => response.blob())
      .then((blob) => saveAs(blob, filename));
  }
</script>

{% endblock %}
