{% extends "base.html" %} {% block content %} {% set invite_url =
url_for('index', _external=True, c=current_user.group.code) %}

<div class="container bg-light p-3 my-3 text-center">
  Send others a link to sign up with your unique group code.<br />
  <a href="{{invite_url}}">{{invite_url}}</a>
</div>

<div class="container-sm">
  <div class="row justify-content-center">
    {% for item in items %} {% set last_event =
    item.events|selectattr("action","equalto", "reserved")|list|last %}
    <div class="col-lg-3 item-parent">
      <div class="item border m-3">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <span class="navbar-text text-body">{{ item.name }}</span>
            <div class="item-delete" onclick="deleteItem('{{item.id}}')">
              &#10006;
            </div>
          </div>
        </nav>
        <div
          class="item-toggle my-4 mx-auto {{'item-reserved' if item.status}}"
          onclick="toggleItem('{{item.id}}')"
        ></div>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <div>
              {% if last_event and item.status %} Reserved by {{ item.user.email
              }} {{ momentjs(last_event.timestamp).calendar() }} {% else %}
              Available {% endif %}
            </div>
            <a
              class="navbar-text"
              href="{{url_for('history', item_id=item.id)}}"
              >View History</a
            >
          </div>
        </nav>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-3">
      <div class="item border m-3">
        <form name="login" action="" method="post">
          <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <span class="navbar-text text-body">Add an item</span>
            </div>
          </nav>
          <div class="m-3">
            {{ form.name(class_="form-control") }} {{ form.hidden_tag() }}
            <div class="m-3">{{ form.submit(class_="btn btn-primary") }}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleItem(id) {
    fetch("{{url_for('toggle_item')}}", {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify({ id: id }),
      headers: new Headers({ "content-type": "application/json" }),
    })
      .then((response) => response.json())
      .then((data) => {
        location.reload();
      });
  }

  function deleteItem(id) {
    fetch("{{url_for('delete_item')}}", {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify({ id: id }),
      headers: new Headers({ "content-type": "application/json" }),
    })
      .then((response) => response.json())
      .then((data) => {
        location.reload();
      });
  }

  window.onpageshow = function (event) {
    if (event.persisted) {
      window.location.reload();
    }
  };
</script>

{% endblock %}
